
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color:  #ECF0F1;
    color: #333333;
    text-align: center;
    margin-left: 70px;
    padding: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px; /* Adjust the width to fit content */
    height: 100%; /* Full height of the viewport */
    background-color: #2C3E50; /* Dark background color */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content horizontally */
    padding-top: 20px; /* Add padding at the top */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Optional: add shadow for effect */
}

.navbar .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ECF0F1;
    margin-bottom: 30px; /* Space between logo and links */
    text-align: center; /* Center the logo text */
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Full width for links */
    display: flex;
    flex-direction: column; /* Stack links vertically */
    align-items: center; /* Center the links */
}

.nav-links li {
    margin: 10px 0; /* Vertical spacing between links */
}

.nav-links a {
    text-decoration: none;
    color: #ECF0F1;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s;
    padding: 12px 20px; /* Add padding for larger clickable area */
    width: 100%; /* Make links fill the width */
    text-align: center; /* Center the link text */
    background-color: transparent; /* Transparent background by default */
    border-radius: 5px; /* Rounded corners */
}

.nav-links a:hover {
    color: #F39C12; /* Change text color on hover */
    background-color: #34495E; /* Optional: Change background on hover */
}



.head {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.hero {
    background: url('gif\ image.webp') no-repeat center center / cover; 
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    animation: fadeIn 1s ease-in;
}

.product-banner {
    background: url('horizontal-banner-cosmetic-product-with-jade-roller-gua-sha.jpg') no-repeat center center / cover; 
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    animation: fadeIn 1s ease-in;
}

form {
    background:  #ddd;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: left;
}

.form h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #fff;
    color: #333333;
}

.products-section {
    padding: 2rem;
    text-align: center;
    background-color: #ECF0F1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.products-section h2 {
    margin-bottom: 2rem;
    color: #2C3E50;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    animation: slideIn 0.5s ease-in;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.product-card {
    background-color: #FFFFFF;
    border-radius: 0;
    padding:0;
    height: 100;
    font-size: small;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 220px;
    animation: fadeInUp 0.5s ease;
}

.product-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.product-card img {
    border-radius: 10px;
}

.price {
    font-size: 1.2rem;
    color:#2C3E50;
    margin: 0.5rem 0;
}

.cart-table tbody tr td {
    padding: 1rem;
    text-align: center;
    font-size: 1.1rem;
    color: #555555;
}

.cart-table tbody tr td[colspan="5"] {
    font-style: italic;
    color: #888888;
}

.footer {
    background-color: #2C3E50;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.footer p {
    margin-bottom: 0;
    color: #ECF0F1;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: #ECF0F1;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #F39C12;
}

.checkout-section {
    padding: 50px;
    background-color: #ECF0F1;
    text-align: left;
}

.checkout-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #2C3E50;
    animation: slideIn 0.5s ease-in;
}

.about-section {
    padding: 50px;
    background-color: #ECF0F1;
    text-align: center;
}

.about-section li {
    list-style-type: none;
}

.ceo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    text-align: left;
}

.ceo-image {
    max-width: 100%;
    height: auto;
    width: 400px;
    border-radius: 10px;
}

.ceo-info {
    max-width: 600px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}

.ceo-info h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #2C3E50;
    margin-bottom: 20px;
}

.ceo-info p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #333333;
}

.checkout-section input,
.checkout-section select,
.checkout-section textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333333;
}

.checkout-section input:focus,
.checkout-section select:focus,
.checkout-section textarea:focus {
    outline: none;
    border-color: #2C3E50;
}

.buy-btn {
    background-color: #2C3E50;
    color: #FFFFFF;
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.buy-btn:hover {
    background-color: #34495E; 
}

.btn {
    background-color:#2C3E50;;
    padding: 14px 22px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.5s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.btn:hover {
    background-color: #D35400;
}

.faq h2 {
    margin-bottom: 1.5rem;
    color: #2C3E50;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.faq-item {
    margin: 1rem 0;
    text-align: left;
}

.faq-item h3 {
    color: #F39C12;
    cursor: pointer;
}

.testimonials h2 {
    margin-bottom: 1.5rem;
    color: #2C3E50;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.testimonial {
    font-style: italic;
    margin: 1rem 0;
    color: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate
    }
    to {
        opacity: 1;
    }}
